<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Home</a>
    <ul>
      <li class="header-link"><a href="/items">Items</a></li>
      <li class="header-link"><a href="/items/new">Add item</a></li>
      <li class="header-link"><a href="/boxes">Boxes</a></li>
      <li class="header-link"><a href="/boxes/new">Add box</a></li>
    </ul>
  </nav>
</header>
