<h2>Edit item</h2>
<form action="/items/<%= item.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/items/<%= item.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>
